*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000000;
}

main {
  margin: 10% 0 10% 0;
  position: relative;
}

@font-face {
  font-family: "RobotoMono";
  src: url("/font/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
body {
  font-family: "RobotoMono", sans-serif;
  color: #D3D3D3;
}

a {
  text-decoration: none;
  color: #D3D3D3;
  font-weight: 600;
  font-size: 25px;
}

h1 {
  text-align: center;
  padding: 2%;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: smaller;
  }
}
.menu {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 98;
}
@media screen and (max-width: 1024px) {
  .menu {
    flex-direction: column;
    height: 400px;
    margin: 3% 0 3% 0;
    position: static;
  }
}

.identity {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cbcbcb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23f7f7f7' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%239b9b9b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23efefef' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a2a2a2' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23fdfdfd' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23818181' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23d3d3d3' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23989898' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23c8c8c8' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23787878' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ececec' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 15% 0 0 20%;
}
.identity h1 {
  text-align: left;
  padding: 0% 0% 2% 0%;
}
.identity-social-media {
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: -1.5%;
  top: 100px;
  padding: 1%;
  z-index: 99;
  background-color: transparent;
  border-radius: 10px 0 0 10px;
}
.identity-social-media a {
  padding: 20% 0% 20% 0%;
}
@media screen and (max-width: 768px) {
  .identity-social-media {
    flex-direction: row;
    top: -5%;
    right: -11%;
    height: 15%;
  }
}

footer {
  height: 100px;
  font-style: italic;
  text-align: center;
  padding-top: 2%;
}

#scroll_to_top {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.separation {
  height: 5px;
  width: 100%;
  background: rgb(2, 59, 107);
  background: linear-gradient(90deg, rgb(2, 59, 107) 0%, rgb(59, 73, 180) 50%, rgb(252, 176, 69) 100%);
}

.under-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  z-index: 99;
}
@media screen and (max-width: 1024px) {
  .under-menu {
    top: 0%;
  }
}

/*********************presentation**********************/
.presentation {
  margin: -5% 0 0 3%;
}

/*********************formation et experiences**********************/
.training {
  width: 60%;
  height: 150%;
  margin: 5% auto 5% auto;
  padding: 1% 5% 5% 5%;
  background: #363636;
  border-radius: 10px;
  text-align: center;
}
.training .separation {
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  .training {
    height: 200%;
    width: 80%;
  }
}
.training img {
  width: 100%;
  padding-top: 5%;
}

/*********************competences**********************/
.skills {
  background-image: url(/img/rouages.png);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 25%;
  background-position: 12%;
  padding: 0% 0% 5% 0%;
  color: black;
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .skills {
    background-size: 20%;
    background-position: 90%;
  }
}
@media screen and (max-width: 425px) {
  .skills {
    background-image: none;
  }
}
.skills .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 45%;
  width: 50%;
}
@media screen and (max-width: 425px) {
  .skills .container {
    width: 90%;
  }
  .skills .container p {
    width: 90%;
  }
}
@media screen and (max-width: 1440px) {
  .skills .container {
    margin-left: 5%;
  }
}

/*********************projets**********************/
.project {
  padding: 0 4% 4% 4%;
}
.project h1 {
  text-align: center;
  padding-bottom: 4%;
}
.project img {
  max-width: 300px;
}
.project .separation {
  width: 40%;
  margin: -2% 0 4% 30%;
  border-radius: 10px;
}
.project .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .project .container {
    flex-direction: column;
  }
}
.project .container .project-box {
  padding: 2%;
  background: #363636;
  border-radius: 10px;
}
.project .container .project-box h2 {
  margin: 3% 0 3% 0;
  text-align: center;
}
.project .container .project-box img {
  border-radius: 10px;
}
.project .container .project-box p {
  font-style: italic;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .project .container .project-box {
    margin: 5% auto 5% auto;
    width: 60%;
  }
  .project .container .project-box img {
    width: 100%;
  }
}

/*********************centres d'interet**********************/
.hobbies {
  background: #363636;
  padding: 1% 5% 5% 5%;
}
.hobbies h1 {
  margin-bottom: 5%;
}
.hobbies p {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .hobbies p {
    flex-direction: column;
  }
  .hobbies p img {
    width: 50px;
    margin: auto;
  }
}

/*********************contact**********************/
.contact .container {
  width: 100%;
}
.contact .container img {
  position: absolute;
  left: 49%;
  margin-bottom: 5%;
}/*# sourceMappingURL=style.css.map */