.separation {
    height: 5px;
    width: 100%;
    background: rgb(2,59,107);
    background: linear-gradient(90deg, rgba(2,59,107,1) 0%, rgb(59, 73, 180) 50%, rgba(252,176,69,1) 100%);     
}
.under-menu {
    position: sticky;
    top: 100px;
    z-index: 99;
    @media screen and (max-width: 1024px) {
        top: -0.1%;
    }
}
