*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background: #000000;
} 

main {
    margin: 10% 0 10% 0;
    position: relative;
    @media screen and (max-width:650px) {
      margin-bottom: 15%;
  }
}