@font-face {
    font-family: "RobotoMono";
    src: url("/font/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

body {
    font-family: "RobotoMono", sans-serif;
    color: #D3D3D3;

}
a {
    text-decoration: none;
    color: #D3D3D3;
    font-weight: 600;
    font-size: 25px;

}
h1 {
    text-align: center;
    padding: 2%;
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 25px;
}
@media screen and (max-width:768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: smaller;
    }
}