@font-face {
    font-family: "RobotoMono";
    src: url("/font/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

body {
    font-family: "RobotoMono", sans-serif;
    color: #D3D3D3;

}
a {
    text-decoration: none;
    color: #D3D3D3;
    font-weight: 600;
}